<h1>New Project</h1>

<%= form_with model: @project, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <%= form.submit 'Create Project', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Projects', projects_path, class: 'btn btn-secondary mt-3' %>