<h1>Projects</h1>
<h4><%= @project.title %></h4>
<p><%= @project.description %></p>

<hr>

<h2>Comments</h2>
<ul>
  <% @project.comments.each do |comment| %>
  <% if comment.persisted? %>
    <li>
      <strong><%= comment.author.name %></strong> commented on 
      <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>:<br>
      <%= comment.content %>
    </li>
    <% end %>
  <% end %>
</ul>

<h3>Add a Comment</h3>
<%= form_with model: [@project, @comment], local: true do |form| %>
  <div class="mb-3">
    <%= form.label :content, 'Your Comment', class: 'form-label' %>
    <%= form.text_area :content, placeholder: 'Write your comment here...', class: 'form-control' %>
  </div>
  <%= form.submit 'Post Comment', class: 'btn btn-primary' %>
<% end %>

<hr>

<h2>Status Changes</h2>
<ul>
  <% @project.status_changes.each do |status_change| %>
    <% if status_change.persisted? %>
      <li>
      Status changed to <strong><%= status_change.status.humanize %></strong> by 
      <strong><%= status_change.actor.name %></strong> on 
      <%= status_change.created_at.strftime('%Y-%m-%d %H:%M') %>
      </li>
    <% end %>
  <% end %>
</ul>

<h3>Change Project Status</h3>
<%= form_with model: [@project, @status_change], local: true do |form| %>
  <div class=\"mb-3\">
    <%= form.label :status, 'Select New Status', class: 'form-label' %>
    <%= form.select :status, StatusChange.statuses.keys.map { |k| [k.humanize, k] }, {}, class: 'form-select' %>
  </div>
  <%= form.submit 'Update Status', class: 'btn btn-warning' %>
<% end %>


<%= link_to 'Back to Projects', projects_path, class: 'btn btn-secondary mt-3' %>
